<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>〇〇ネーター</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
  </head>
  <body>
    <div class="app">
      <div class="main">
        <div class="title">
          <h1>〇〇ネーター</h1>
        </div>
        <div class="question">
          <p id="question"></p>
        </div>
        <div class="choice">
          <button type="button" name="button" class="choice-btn" onclick="onClick(this, true)">はい</button>
          <button type="button" name="button" class="choice-btn" onclick="onClick(this, false)">いいえ</button>
        </div>
      </div>
    </div>
  </body>
</html>
